@model List<User>

<!DOCTYPE html>
<html>
<head>
    <title>Список користувачів</title>
</head>
<body>
    <h1>Список користувачів</h1>
    <ul>
        @foreach (var user in Model)
        {
            <li>
                <strong>Ім'я:</strong> @user.FirstName<br />
                <strong>Прізвище:</strong> @user.LastName<br />
                <strong>Електронна пошта:</strong> @user.Email<br />
                <strong>Дата реєстрації:</strong> @user.RegistrationDate.ToShortDateString()<br /><br />
            </li>
        }
    </ul>
</body>
</html>
